<div class="introContainer">
	<p>Dapatkan reward <a href="" title='help_email-alerts' id='help_email-alerts'><b><FONT COLOR="#DC143C">Rp 50,000.00</FONT></b> jika cerita anda terpilih di halaman utama.</a></p>
	<p>Mau menjadi sponsor?<span><a href="pages/sponsors"> Hubungi kami</a></span>.</p>
</div>
<%#= render :partial => "shared/stats"%>


<div class="joinContainer">
  <%= link_to "Layout Editor >", layout_editor_url %>
</div>
