<% @title = "Admin - Home" %>
<%# @filter = 'featured' %>
<%# @items = nil %>
<ul class="tabs">
	<li <%if @filter=='all'%>class="current"<%end%>>
    <!-- <a href="/">All Stories</a> -->
	  <%= link_to "Category List (#{@categories.count})", editor_dashboard_url( :filter => :all )%>
  <!-- </li>
  <li <%#if @filter=='featured'%>class="current"<%#end%>>
    <%#= link_to "Featured", writer_dashboard_url(:filter => :featured)%>
  </li> -->

</ul>
<div class="seeMoreContainer">
	<%#=get_more_link(@filter)%>
</div>

	<%#= render :partial => "shared/lists", :locals => {:items => @items, :no_items_message => "No stories found for this selection.", :show_pagination => false} %>


<ul>
  <% @categories.each do |category| %> 
    <li>
      <%= link_to  category.name  + "-- (#{category.stories.count})" , 
          category_advertisements_url( category )%>
 
    </li>
  <% end %>
</ul>