<div class="headerTitle">
	<h1>Profile anda</h1>
	<p>Image branding yang baik bersifat menjual</p>
</div>
<div class="joinContainer">
  <!-- <a href="/session/new" title='Register' rel="nofollow">Log in &rsaquo;</a> -->
	<%= link_to "< Kembali", root_url %>
</div>