<% @title = "Sableng.com - Edit Profile" %>

<%= render :partial => "tab" %>

<div class="formContainer">
		<% unless @user.errors.empty? %>
			<% content_for :error do %>
				<%= error_messages_for :user %>
			<% end %>
		<% end %>


		<h2>Edit password</h2>
		<%= render :partial => "form_edit_credential"%>

</div>