<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello bang, </h1>
    <p>
      <% if @user.profile != nil %>
        User yang namanya <%= @user.profile.name %> baru bikin artikel.<br />
      <% end %>

      Judul artikelnya : <%= @story.title %>
      
      
    </p>
    <p>
      Buat approve, abang login ke sini yah: <%= "http://sableng.com/users/sign_in" %>..
    </p>
    <p>Ditunggu approval nya loh bang.!</p>
  </body>
</html>