<div class="footerContainer">
	<div class="footerNotes">
		<h3>Team Editor</h3>
		<ul>
				<li> <span>Iwan Piliang, Chief Editor</span> </li>
		</ul>
	</div><!--end footernotes-->
	<div class="footerNotes">
		<h3>Sableng.com</h3>
		<p>
		  Kami adalah team independent jurnalis yang bertujuan untuk mengupas
		  berita-berita politik demi membebaskan bangsa Indonesia.
		</p>
	</div><!--end footernotes-->
	<div class="footerNotes">
		<h3>Ada berita?</h3>
		<p>
		  Ada ketidakadilan di daerah anda? Kontak team kami di <strong>adaBerita@sableng.com</strong>
		</p>
	</div><!--end footernotes-->	
</div>