<div class="introContainer">
	<p>Ayo bersama  <a href="" title='help_email-alerts' id='help_email-alerts'><b><FONT COLOR="#DC143C"> memberitakan</FONT></b> kebenaran.</a></p>
</div>
<%#= render :partial => "shared/stats"%>


<div class="joinContainer">
  <%= link_to "Login", "#"%>
</div>
