<aside class="related_links">
  <!-- <h5>Berita Terkait:</h5>
  <ul>
    <li><a href="http://www.forbes.com/sites/parmyolson/2011/09/19/morning-tech-wrap-netflix-google-att/">Morning Tech Wrap: Netflix, Google, AT&amp;T</a></li>
    <li><a href="http://www.forbes.com/sites/elizabethwoyke/2011/06/09/visa-considering-joining-google-wallet-isis-for-mobile-payments/">Visa Still Weighing Its Mobile Payments Options</a></li>
  </ul> -->
</aside>