<div class="article_actions">
  <div style="display: block; opacity: 1;" class="inline_sharing">
    <div class="widget facebook">
      <span  class='st_facebook_hcount' displayText='Facebook'></span>
    </div>
    <div class="widget twitter">
      <span  class='st_twitter_hcount' displayText='Tweet'></span>
    </div>
    <div class="widget stumbleupon">
      <span  class='st_fblike_hcount' ></span>
    </div>
    <div class="clear"></div>
  </div>
</div>