

  <a href="http://www.aqua.com/">
    <%= image_tag "http://s3.amazonaws.com/sablengmedia/1png.png" %>
  </a>
  <a href="http://www.aqua.com/">
    <%= image_tag "http://s3.amazonaws.com/sablengmedia/1png.png" %>
  </a>
  <a href="http://www.aqua.com/">
    <%= image_tag "http://s3.amazonaws.com/sablengmedia/1png.png" %>
  </a>
