    <!-- Start: Primary navigation -->
    <nav id="primnav" class="clearfix">
        <ul id="header_topnav">
        <li id="ch1" class="channels  chLeft"><a href="http://www.forbes.com/business/" class="dropdown">Business</a><span></span>
            <div class="sections clearfix" id="sect1">
                            <ul>
                                                        <li><a href="http://www.forbes.com/autos/">Autos</a></li>
                                                                                        <li><a href="http://www.forbes.com/energy/">Energy</a></li>
                                                                                        <li><a href="http://www.forbes.com/media-entertainment/">Media &amp; Entertainment</a></li>
                                                                                        <li><a href="http://www.forbes.com/healthcare/">Pharma &amp; Healthcare</a></li>
                                                                                        <li><a href="http://www.forbes.com/retail/">Retail</a></li>
                                                                                        <li><a href="http://www.forbes.com/sportsmoney/">SportsMoney</a></li>
                                                                </ul><ul class="last">
                                                                                        <li><a href="http://www.forbes.com/strategies-solutions/">Strategies &amp; Solutions</a></li>
                                                                                        <li><a href="http://www.forbes.com/wall-street/">Wall Street</a></li>
                                                                                        <li><a href="http://www.forbes.com/washington/">Washington</a></li>
                                                                                </ul>
 		    			<div class="header_navpromo">
	    <a href="http://www.forbes.com/lists/2011/30/nfl-valuations-11_land.html"><img src="/images/0907_dallas-cowboys_169x99.jpg" alt="Special Report: The Business Of Football"></a>
	    <h4><a href="http://www.forbes.com/lists/2011/30/nfl-valuations-11_land.html">Special Report: The Business Of Football</a></h4>
	   			</div>
    		                </div>
    </li>	
         <li id="ch2" class="channels  chLeft"><a href="http://www.forbes.com/investing/" class="dropdown">Investing</a><span></span>
            <div class="sections clearfix" id="sect2">
                            <ul>
                                                        <li><a href="http://www.forbes.com/advisor-network/">Advisor Network</a></li>
                                                                                        <li><a href="http://www.forbes.com/bonds/">Bonds</a></li>
                                                                                        <li><a href="http://www.forbes.com/commodities-currencies/">Commodities &amp; Currencies</a></li>
                                                                                        <li><a href="http://www.forbes.com/etfs/">ETFs</a></li>
                                                                                        <li><a href="http://www.forbes.com/international/">International</a></li>
                                                                                        <li><a href="http://www.forbes.com/intelligent-investing/">Intelligent Investing</a></li>
                                                                </ul><ul>
                                                                                        <li><a href="http://www.forbes.com/markets/">Markets</a></li>
                                                                                        <li><a href="http://www.forbes.com/mutual-funds/">Mutual Funds</a></li>
                                                                                        <li><a href="http://www.forbes.com/options/">Options</a></li>
                                                                                        <li><a href="http://www.forbes.com/finance/">Personal Finance</a></li>
                                                                                        <li><a href="http://www.forbes.com/real-estate/">Real Estate</a></li>
                                                                                        <li><a href="http://www.forbes.com/retirement/">Retirement</a></li>
                                                                </ul><ul class="last">
                                                                                        <li><a href="http://www.forbes.com/stocks/">Stocks</a></li>
                                                                                        <li><a href="http://www.forbes.com/taxes/">Taxes</a></li>
                                                                                </ul>
 		    			<div class="header_navpromo">
	    <a href="http://www.forbes.com/special-report/2011/secrets-of-the-self-made.html"><img src="/images/forbes/0906_secrets-of-the-self-made_169x99.jpg" alt="Secrets Of The Self-Made"></a>
	    <h4><a href="http://www.forbes.com/special-report/2011/secrets-of-the-self-made.html">Secrets Of The Self-Made</a></h4>
	   			</div>
    		                </div>
    </li>	
         <li id="ch3" class="channels  chLeft   "><a href="http://www.forbes.com/technology/" class="dropdown">Tech</a><span></span>
            <div class="sections clearfix" id="sect3">
                            <ul>
                                                        <li><a href="http://www.forbes.com/cio-network/">CIO Network</a></li>
                                                                                        <li><a href="http://www.forbes.com/data-driven/">Data Driven</a></li>
                                                                                        <li><a href="http://www.forbes.com/games/">Games</a></li>
                                                                                        <li><a href="http://www.forbes.com/gear/">Gear</a></li>
                                                                                        <li><a href="http://www.forbes.com/green-tech/">Green Tech</a></li>
                                                                                        <li><a href="http://www.forbes.com/human-ingenuity/">Human Ingenuity</a></li>
                                                                </ul><ul>
                                                                                        <li><a href="http://www.forbes.com/innovation-science/">Innovation &amp; Science</a></li>
                                                                                        <li><a href="http://www.forbes.com/intelligent-tech">Future Tech</a></li>
                                                                                        <li><a href="http://www.forbes.com/mobile/">Mobile</a></li>
                                                                                        <li><a href="http://www.forbes.com/on-demand/">On Demand</a></li>
                                                                                        <li><a href="http://www.forbes.com/security/">Security</a></li>
                                                                                        <li><a href="http://www.forbes.com/social-media/">Social Media</a></li>
                                                                </ul><ul class="last">
                                                                                        <li><a href="http://www.forbes.com/techonomy">Techonomy</a></li>
                                                                                </ul>
 		    			<div class="header_navpromo">
	    <a href="http://www.forbes.com/special-report/2011/security-resiliency-data-driven.html"><img src="/images/forbes/0901_security-resiliency-data-driven.jpg" alt="Security And Resiliency"></a>
	    <h4><a href="http://www.forbes.com/special-report/2011/security-resiliency-data-driven.html">Security And Resiliency</a></h4>
	   			</div>
    		                </div>
    </li>	
         <li id="ch4" class="channels  chLeft   mid  "><a href="http://www.forbes.com/entrepreneurs/" class="dropdown">Entrepreneurs</a><span></span>
            <div class="sections clearfix" id="sect4">
                            <ul>
                                                        <li><a href="http://www.forbes.com/exit-strategy/">Exit Strategy</a></li>
                                                                                        <li><a href="http://www.forbes.com/financing/">Financing</a></li>
                                                                                        <li><a href="http://www.forbes.com/management/">Management</a></li>
                                                                                        <li><a href="http://www.forbes.com/players/">Players</a></li>
                                                                                        <li><a href="http://www.forbes.com/sales-marketing/">Sales &amp; Marketing</a></li>
                                                                                        <li><a href="http://www.forbes.com/taxes-law/">Taxes &amp; Law</a></li>
                                                                </ul><ul class="last">
                                                                                        <li><a href="http://www.forbes.com/promising-companies">Promising Companies</a></li>
                                                                                </ul>
 		    			<div class="header_navpromo">
	    <a href="http://www.forbes.com/sites/brettnelson/2011/09/08/16-ways-911-changed-the-way-we-do-business/"><img src="/images/forbes/1206_small-towns-main-street-intro_169x99.jpg" alt="16 Ways 9/11 Changed The Way We Do Business"></a>
	    <h4><a href="http://www.forbes.com/sites/brettnelson/2011/09/08/16-ways-911-changed-the-way-we-do-business/">16 Ways 9/11 Changed The Way We Do Business</a></h4>
	   			</div>
    		                </div>
    </li>	
         <li id="ch5" class="channels  chRight    mid2 "><a href="http://www.forbes.com/opinions/" class="dropdown">Op/Ed</a><span></span>
            <div class="sections clearfix" id="sect5">
    						    <div class="header_navpromo">
		<a href="http://blogs.forbes.com/joelkotkin/2011/05/02/the-best-cities-for-jobs/"><img src="/images/forbes/0121_new-orleans-la_169x99.jpg" alt="The Best Cities For Jobs"></a>
		<h4><a href="http://blogs.forbes.com/joelkotkin/2011/05/02/the-best-cities-for-jobs/">The Best Cities For Jobs</a></h4>
					    </div>
			                            <ul>
                                                        <li><a href="http://www.forbes.com/culture-books/">Culture &amp; Books</a></li>
                                                                                        <li><a href="http://www.forbes.com/fact-comment/">Fact &amp; Comment</a></li>
                                                                                        <li><a href="http://www.forbes.com/economics/">Economics</a></li>
                                                                                        <li><a href="http://thoughts.forbes.com/quotes/">Forbes Quotes</a></li>
                                                                                        <li><a href="http://blogs.forbes.com/richkarlgaard/">Innovation Rules</a></li>
                                                                                        <li><a href="http://www.forbes.com/law/">Law</a></li>
                                                                </ul><ul class="last">
                                                                                        <li><a href="http://www.forbes.com/policy/">Policy</a></li>
                                                                                        <li><a href="http://www.forbes.com/politics/">Politics</a></li>
                                                                                        <li><a href="http://www.forbes.com/regulation/">Regulation</a></li>
                                                                                        <li><a href="http://www.forbes.com/world-affairs/">World Affairs</a></li>
                                                                                </ul>
                 </div>
    </li>	
         <li id="ch6" class="channels  chRight   "><a href="http://www.forbes.com/leadership/" class="dropdown">Leadership</a><span></span>
            <div class="sections clearfix" id="sect6">
    						    <div class="header_navpromo">
		<a href="http://www.forbes.com/sites/jacquelynsmith/2011/08/01/americas-most-surprising-six-figure-jobs/"><img src="/images/forbes/0527_six-figure-jobs-pharmacist_169x99.jpg" alt="America's Most Surprising Six-Figure Jobs"></a>
		<h4><a href="http://www.forbes.com/sites/jacquelynsmith/2011/08/01/americas-most-surprising-six-figure-jobs/">America's Most Surprising Six-Figure Jobs</a></h4>
					    </div>
			                            <ul>
                                                        <li><a href="http://www.forbes.com/careers/">Careers</a></li>
                                                                                        <li><a href="http://www.forbes.com/ceo-network/">CEO Network</a></li>
                                                                                        <li><a href="http://www.forbes.com/cmo-network/">CMO Network</a></li>
                                                                                        <li><a href="http://www.forbes.com/corporate-responsibility/">Corporate Responsibility</a></li>
                                                                                        <li><a href="http://www.forbes.com/education/">Education</a></li>
                                                                                        <li><a href="http://www.forbes.com/forbeswoman/">ForbesWoman</a></li>
                                                                </ul><ul class="last">
                                                                                        <li><a href="http://www.forbes.com/leaders/">Leaders</a></li>
                                                                                        <li><a href="http://www.forbes.com/managing/">Managing</a></li>
                                                                                </ul>
                 </div>
    </li>	
         <li id="ch7" class="channels  chRight   "><a href="http://www.forbes.com/lifestyle/" class="dropdown">Lifestyle</a><span></span>
            <div class="sections clearfix" id="sect7">
    						    <div class="header_navpromo">
		<a href="http://blogs.forbes.com/tombarlow/2011/06/20/how-to-complain-to-customer-service-and-win/"><img src="/images/forbes/0106_irs-bad-phone-service_169x99.jpg" alt="How To Complain To Customer Service And Win"></a>
		<h4><a href="http://blogs.forbes.com/tombarlow/2011/06/20/how-to-complain-to-customer-service-and-win/">How To Complain To Customer Service And Win</a></h4>
					    </div>
			                            <ul>
                                                        <li><a href="http://www.forbes.com/arts-entertainment/">Arts &amp; Entertainment</a></li>
                                                                                        <li><a href="http://www.forbes.com/food-drink/">Food &amp; Drink</a></li>
                                                                                        <li><a href="http://www.forbes.com/health/">Health</a></li>
                                                                                        <li><a href="http://www.forbes.com/places-spaces/">Places &amp; Spaces</a></li>
                                                                                        <li><a href="http://www.forbes.com/sports-leisure/">Sports &amp; Leisure</a></li>
                                                                                        <li><a href="http://www.forbes.com/style-design/">Style &amp; Design</a></li>
                                                                </ul><ul class="last">
                                                                                        <li><a href="http://www.forbes.com/travel/">Travel</a></li>
                                                                                        <li><a href="http://www.forbes.com/vehicles/">Vehicles</a></li>
                                                                                </ul>
                 </div>
    </li>	
         <li id="ch8" class="channels  chRight   "><a href="http://www.forbes.com/lists/" class="dropdown">Lists</a><span></span>
            <div class="sections clearfix" id="sect8">
    						    <div class="header_navpromo noimage">
		<h4><a href="http://www.forbes.com/forbes/2011/0808/focus-credit-meltdown-unemployment-brig-rich-richer.html">How The Rich Are Getting Richer</a></h4>
		<div class="header_engagement"><a class="red" href="http://rate.forbes.com/comments/CommentServlet?op=cpage&amp;StoryURI=forbes/2011/0808/focus-credit-meltdown-unemployment-brig-rich-richer.html&amp;sourcename=story">2 Comments</a></div>			    </div>
			                            <ul>
                                                        <li><a href="http://www.forbes.com/colleges">America's Best Colleges</a></li>
                                                                                        <li><a href="http://www.forbes.com/lists/2010/23/best-small-companies-10_rank.html">America's 100 Best Small Companies</a></li>
                                                                                        <li><a href="http://www.forbes.com/bestplaces">Best Places for Business &amp; Careers</a></li>
                                                                                        <li><a href="http://www.forbes.com/celebrities/">Celebrity 100</a></li>
                                                                                        <li><a href="http://www.forbes.com/400richest/">Forbes 400 Richest Americans</a></li>
                                                                                        <li><a href="http://www.forbes.com/global2000/">Global 2000 Leading Companies</a></li>
                                                                </ul><ul class="last">
                                                                                        <li><a href="http://www.forbes.com/private/">Largest Private Companies</a></li>
                                                                                        <li><a href="http://www.forbes.com/zips">Most Expensive Zip Codes</a></li>
                                                                                        <li><a href="http://www.forbes.com/wealth/power-women">100 Most Powerful Women</a></li>
                                                                                        <li><a href="http://www.forbes.com/wealth/billionaires/">World's Billionaires</a></li>
                                                                                        <li><a href="http://www.forbes.com/power">World's Most Powerful People</a></li>
                                                                                        <li><a href="http://www.forbes.com/lists/">All Lists</a></li>
                                                                                </ul>
                 </div>
    </li>	
 </ul>        </nav><!-- End: Primary navigation -->