<section id="topStory" class="clearfix">  
  <div class="stories fleft">
    <%= render :partial => "main_story" %>
    
    <ul class="fright">
      <% for top_story in @top_stories%>
        <%= render :partial => "top_stories", :locals => {:top_story => top_story} %>
      <% end %>
    </ul>
  </div>	



  <div class="video fright">


    <div class="player" id="vplayer">

      <iframe src="http://player.vimeo.com/video/26110865?title=0&amp;byline=0&amp;portrait=0" width="300" height="241" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe><p><a href="http://vimeo.com/26110865">A real person, a lot like you</a> from <a href="http://vimeo.com/sivers">Derek Sivers</a> on <a href="http://vimeo.com">Vimeo</a>.</p>


    </div>

    <ul>



<!--       <li><a class="iconoverlay videoicon video115 fleft" href="http://www.forbes.com/video/?video=fvn/market-blaster/euro_liquidity_bailout"><img alt="" src="/images/forbes/0127_greece-euro-banknotes-currency_174x97.jpg">  <span class="icon"><b></b></span></a><h4><a href="http://www.forbes.com/video/?video=fvn/market-blaster/euro_liquidity_bailout">Liquidity Injection To Save Euro Banks Fuels Rally</a></h4></li>
 -->


<!--       <li><a class="iconoverlay videoicon video115 fleft" href="http://www.forbes.com/video/?video=fvn/entrepreneurs/dejoria-rags-to-riches"><img alt="" src="/images/forbes/0310_john-paul-dejoria_174x97.jpg">  <span class="icon"><b></b></span></a><h4><a href="http://www.forbes.com/video/?video=fvn/entrepreneurs/dejoria-rags-to-riches">Rags To Riches</a></h4></li>
 -->

      <!-- <li><a class="iconoverlay videoicon video115 fleft" href="http://www.forbes.com/video/?video=fvn/inidaily/ini-fullvideo-ron-baron-billionaire-400-ralph-lauren"> <img alt="" src="/images/forbes/0913_ini-ron-baron-2011-2_174x97.jpg" class="lastMargin"> <span class="icon"><b></b></span></a><h4><a href="http://www.forbes.com/video/?video=fvn/inidaily/ini-fullvideo-ron-baron-billionaire-400-ralph-lauren">Billionaire Baron Says It's Time To Buy</a></h4></li> -->
     

    </ul>
  </div>					
</section>