<section id="topStory" class="clearfix">  
  <div class="stories fleft">
    <%= render :partial => "main_story" %>
    
    <ul class="fright">
      <% for top_story in @top_stories%>
        <%= render :partial => "top_stories", :locals => {:top_story => top_story} %>
      <% end %>
    </ul>
  </div>	



  <div class="video fright">


    <div class="player" id="vplayer">

      <!-- <iframe src="http://player.vimeo.com/video/26110865?title=0&amp;byline=0&amp;portrait=0" width="300" height="241" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe><p><a href="http://vimeo.com/26110865">A real person, a lot like you</a> from <a href="http://vimeo.com/sivers">Derek Sivers</a> on <a href="http://vimeo.com">Vimeo</a>.</p> -->
      
      <iframe width="300" height="241" src="http://www.youtube.com/embed/swx6ABlkKX8" frameborder="0" allowfullscreen></iframe>


    </div>

    <ul>
    </ul>
    <div>
      <a href="http://www.pilihkomodo.com/">
        <img width="300" style="margin-top:10px;" src="http://s3.amazonaws.com/sablengmedia/komodo_wlilly.png" />
      </a>
    </div>
  </div>					
</section>