  <div style="position: absolute; top: 0pt;" id="sidebar_follower"> 
    <div style="display: block; top: 0px;" class="shareholder"> 
        <div class="box boxfacebook"> 
            <div class="countbox"> 
                <span id="fbcount2">4057</span> 
                <small>shares</small> 
            </div> 
            <div class="box-bottom"></div> 
            <span st_processed="yes" class="st_facebook_button"><span class="stButton" style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"><span style="background-image: url(&quot;http://w.sharethis.com/images/facebook_counter.png&quot;);" class="stMainServices st-facebook-counter">&nbsp;<img style="position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;" src="/images/forbes/check-big.png"></span></span></span> 
        </div> 
        <div class="box boxtwitter"> 
            <div class="countbox"> 
                <span id="twitcount2">2209</span> 
                <small>tweets</small> 
            </div> 
            <div class="box-bottom"></div> 
            <span st_processed="yes" class="st_twitter_button" st_title="Get the latest news from #Forbes"><span class="stButton" style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"><span style="background-image: url(&quot;http://w.sharethis.com/images/twitter_counter.png&quot;);" class="stMainServices st-twitter-counter">&nbsp;<img style="position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;" src="/images/forbes/check-big.png"></span></span></span> 
        </div> 
    <span st_processed="yes" class="st_sharethis_custom"><div class="sharebox plusmoredark">Share</div></span> 
    </div> 
</div> 
