
<section id="abovefold" class="clearfix"> 
		<!--Start: top nav--> 
      
      <div id="topNav">

      
      	<ul class="country fleft">
      <!-- <li><a href="#" class="active">U.S.</a><div class="arrow us"></div></li>
          <li><a href="http://www.forbes.com/home_europe/">Europe</a></li>
          <li><a href="http://www.forbes.com/home_asia/">Asia</a></li> -->
      <!-- The share module -->
	        <li>
              <div style="display: none;" class="shareholder">
    
              </div>
          </li>
          <!--End Share This Module Repositioning-->

		</ul>
		
		<div class="shareMagazine fright">
			<div class="share fleft">

        <!-- <ul>
          <li class="follow">Follow</li>
          <li><a href="http://www.facebook.com/forbes" class="facebook"></a></li>
          <li><a href="http://www.twitter.com/forbes" class="twitter"></a></li>
          <li><a href="http://www.linkedin.com/company/forbes.com" class="linkedin"></a></li>
        </ul> -->
			</div>
      <!-- <div class="magazine fright">

        <a href="https://subs.forbesmagazine.com/loc/FRB/crownHP" class="freetrial fleft">Free Trial Issue</a><a href="https://subs.forbesmagazine.com/loc/FRB/crownHP"><img src="/images/forbes/magazines.png" class="fright" height="37" width="74"></a>
      </div> -->
		</div>
		
      </div>
      
  <!--end: top nav-->

	<!--Start: top stories-->    
	<%= render :partial => "top_story_container"%>

<!--end: top stories-->
  
 


<!--start: special reports--> 
  
  	<section id="specialReports">

  	
  		<h2>komik sableng</h2>
  		
  		<div class="carousel">
			<div id="mygallery" class="stepcarousel">
				<div style="width: 2736px;" class="belt">
				
					
							<div style="float: none; position: absolute; left: 0px;" class="panel image"><a href="http://www.forbes.com/sites/dorothypomerantz/2011/09/12/the-highest-paid-men-in-entertainment/"><!-- <img alt="" src="/images/forbes/tyler-perry_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/sites/dorothypomerantz/2011/09/12/the-highest-paid-men-in-entertainment/">Highest-Paid Men In Entertainment</a></h4></div>
						
							<div style="float: none; position: absolute; left: 153px;" class="panel image"><a href="http://www.forbes.com/special-report/2011/enjoying-your-wealth.html"><!-- <img alt="" src="/images/forbes/0129_wealthy-rich-family_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/special-report/2011/enjoying-your-wealth.html">How To Make The Most Of Your Wealth</a></h4></div>
						
							<div style="float: none; position: absolute; left: 306px;" class="panel image"><a href="http://www.forbes.com/sites/scottdecarlo/2011/09/11/asias-fab-50/"><!-- <img alt="" src="/images/forbes/0907_fab-50-intro_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/sites/scottdecarlo/2011/09/11/asias-fab-50/">Asia's Fab 50 Companies</a></h4></div>
						
							<div style="float: none; position: absolute; left: 459px;" class="panel image"><a href="http://www.forbes.com/sites/financialfinesse/2011/09/15/ten-things-college-students-waste-money-on/"><!-- <img alt="" src="/images/forbes/0910_college-savings_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/sites/financialfinesse/2011/09/15/ten-things-college-students-waste-money-on/">10 Things Students Waste Money On</a></h4></div>
						
							<div style="float: none; position: absolute; left: 612px;" class="panel image"><a href="http://www.forbes.com/sites/85broads/2011/09/13/linkedin-busting-8-damaging-myths-about-what-it-can-do-for-your-career/"><!-- <img alt="" src="/images/forbes/0518_linkedin-2_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/sites/85broads/2011/09/13/linkedin-busting-8-damaging-myths-about-what-it-can-do-for-your-career/">What LinkedIn Can't Do For Your Career</a></h4></div>
						
							<div style="float: none; position: absolute; left: 765px;" class="panel image"><a href="http://www.forbes.com/sites/baldwin/2011/09/13/americas-millionaire-capitals/"><!-- <img alt="" src="/images/forbes/0927_beverly-hills_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/sites/baldwin/2011/09/13/americas-millionaire-capitals/">America's Millionaire Capitals</a></h4></div>
						
							<div style="float: none; position: absolute; left: 918px;" class="panel image"><a href="http://www.forbes.com/sites/techonomy/2011/09/07/social-power-and-the-coming-corporate-revolution/"><!-- <img alt="" src="/images/forbes/0907_social-revolution-pro-egyptian_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/sites/techonomy/2011/09/07/social-power-and-the-coming-corporate-revolution/">The Coming Corporate Revolution</a></h4></div>
						
							<div style="float: none; position: absolute; left: 1071px;" class="panel image"><a href="http://www.forbes.com/sites/steveforbes/2011/09/07/steve-forbes-rudy-giuliani-remembering-september-11th/"><!-- <img alt="" src="/images/forbes/0907_rudy-giuliani-3_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/sites/steveforbes/2011/09/07/steve-forbes-rudy-giuliani-remembering-september-11th/">Giuliani, Steve Forbes Recall 9/11</a></h4></div>
						
							<div style="float: none; position: absolute; left: 1224px;" class="panel image"><a href="http://www.forbes.com/pictures/el45eldfl/behind-the-mortgage-fraud-numbers-2"><!-- <img alt="" src="/images/forbes/0218_junk-mortgages_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/pictures/el45eldfl/behind-the-mortgage-fraud-numbers-2">The Worst States For Mortgage Fraud</a></h4></div>
						
							<div style="float: none; position: absolute; left: 1377px;" class="panel image"><a href="http://www.forbes.com/sites/calebmelby/2011/09/08/introducing-the-zen-of-steve-jobs-a-graphic-novel/"><!-- <img alt="" src="/images/forbes/0908_zen-of-steve-jobs_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/sites/calebmelby/2011/09/08/introducing-the-zen-of-steve-jobs-a-graphic-novel/">Steve Jobs: A Graphic Novel</a></h4></div>
						
							<div style="float: none; position: absolute; left: 1530px;" class="panel image"><a href="http://www.forbes.com/profile/jeff-bezos"><!-- <img alt="" src="/images/forbes/jeff-bezos_170x170.jpg"> --></a><h4><a href="http://www.forbes.com/profile/jeff-bezos">Man In The News: Jeff Bezos</a></h4></div>
						
						
					
				
				</div>
			</div>
		</div>		
  	</section>

  <!--end: special reports--> 
	<!--Begin: left rail--> 
	<div id="leftRail" class="fleft clearfix">
		<ul id="newstream">
		  
		<% for category in Category.all[2..(Category.count)] %>
		  <%= render :partial => "category", :locals =>{:stories => category.stories.limit(4),
		    :category => category} %>
		<% end %>

				
				
				
		</ul>
 		</div>
<!--End: left rail--> 
	<!--Begin: right rail--> 
      <aside>
            <div class="blockAd">

            </div>    
    <%= render :partial => "most_popular"%>

		 <!-- intelligent investment module -->
<section id="intiinvest">
<a href="http://www.forbes.com/intelligentinvesting"><!-- <img alt="" src="/images/forbes/ii.png" height="19" width="267"> --></a>


			<div class="mainStory">
				<a href="http://www.forbes.com/sites/investor/2011/08/25/how-to-get-your-retirement-back-on-track/"><!-- <img src="/images/forbes/0522_money-coins-stack_100x100.jpg" "="" class="fleft"> --></a>
				<article class="nowrap">
				<h3><a href="http://www.forbes.com/sites/investor/2011/08/25/how-to-get-your-retirement-back-on-track/">How To Get Your Retirement Back On Track</a></h3>It's too late to save your nest egg from a down market--even if you're in your 40s or 50s.
				</article>
			</div>
                              
                              
                              
                              
                              
			<div class="moreStory">
                      

				<h4><a href="http://www.forbes.com/sites/chrisbarth/2011/08/24/power-woman-irene-rosenfeld-isnt-afraid-to-break-a-few-cadbury-eggs/">Power Woman Irene Rosenfeld Isn't Afraid To Break A Few (Cadbury) Eggs</a></h4>
                                      
                       
				<h4 class="lastMargin"><a href="http://www.forbes.com/sites/chrisbarth/2011/08/19/contrarian-kleinschmidt-not-afraid-of-big-bad-market-buying-microsoft-pfizer-and-more/">Contrarian Kleinschmidt Not Afraid Of Big Bad Market, Buying Microsoft, Pfizer And More</a></h4>
			</div>
                      
                      
                      <div class="sponsor">				
			<!-- <script type="text/javascript">OAS_AD('ScottradeLogo');</script> --><a href="http://ads.forbes.com/RealMedia/ads/click_lx.ads/homepage.forbes.com/index.jhtml/270910983/ScottradeLogo/OasDefault_v5/default/empty.gif/64575a556f6b3448354c494143666347" target="_top"><!-- <img src="/images/forbes/64575a556f6b3448354c494143666347_009.gif" alt="" border="0" height="1" width="1"> --></a> 
		</div>

                      
</section>
<!--/intelligent investing module --> 

                      <!-- DATA DRIVEN -->
<section id="datadriven">
	<h2><a href="http://www.forbes.com/data-driven/">Data Driven</a></h2>
	<div class="mainStory">
              
              
		<a href="http://www.forbes.com/data-driven/"><!-- <img src="/images/forbes/1118_data_100x100.jpg" class="fleft"> --></a>
		<article class="nowrap">
			<h3><a href="http://www.forbes.com/data-driven/">Do the Math: How Data And Analytics Are Shaping Better Business</a></h3>
		</article>
              </div>
              <div class="sponsor">				
                 
	</div>
</section>
<!--/DATA DRIVEN -->


		<div style="position: static; top: 0pt;" id="blockAdStalker"></div>			
	</aside>
<!--End: right rail-->   
     	

</section>