<footer id="globalfooter">
    <section class="contentrowdark clearfix" id="footer_wrapper">
					<div class="altsubhed">Photo Galleries and More</div>
			<!-- Start: footer promos  -->
				<ul class="clearfix" id="footer_promos">
            <li>
            <a title="See Photos" href="http://www.forbes.com/2011/05/12/twenty-rip-offs-2011_slide.html" class="iconoverlay gallery180 tooltip"><img width="180" height="126" src="http://images.forbes.com/media/2010/10/29/1029_money-wallet_240x180.jpg" alt="20 Ways You're Getting Ripped Off"></a>
            <h4><a href="http://www.forbes.com/2011/05/12/twenty-rip-offs-2011_slide.html"><span class="multimedia">Gallery:</span> 20 Ways You're Getting Ripped Off</a></h4>
        </li>
            <li>
            <a href="http://www.forbes.com/pictures/eigl45hfh/1-minneapolis-minn#content"><img width="180" height="126" src="http://images.forbes.com/media/2010/05/04/0504_bike-ride-mothers-day_240x180.jpg" alt="America's Healthiest Cities"></a>
            <h4><a href="http://www.forbes.com/pictures/eigl45hfh/1-minneapolis-minn#content">America's Healthiest Cities</a></h4>
        </li>
            <li>
            <a href="http://www.forbes.com/pictures/ejde45i/in-pictures-15-silliest-uses-of-taxpayer-money#content"><img width="180" height="126" src="http://images.forbes.com/media/2009/11/23/1123_income-tax_240x180.jpg" alt="Fifteen Silliest Uses Of Taxpayer Money"></a>
            <h4><a href="http://www.forbes.com/pictures/ejde45i/in-pictures-15-silliest-uses-of-taxpayer-money#content">Fifteen Silliest Uses Of Taxpayer Money</a></h4>
        </li>
            <li>
            <a href="http://www.forbes.com/pictures/efee45gejh/no-1-set-top-box"><img width="180" height="126" src="http://images.forbes.com/media/2010/02/22/0222_3-energy-hog-xbox_240x180.jpg" alt="26 Surprising Home Energy Hogs"></a>
            <h4><a href="http://www.forbes.com/pictures/efee45gejh/no-1-set-top-box">26 Surprising Home Energy Hogs</a></h4>
        </li>
            <li class="lastone">
            <a href="http://www.forbes.com/pictures/mmj45hgdg/blue-skys-im-watch#content"><img width="180" height="126" src="http://images.forbes.com/media/2010/11/04/1104_jules-audemars-chronometer-gift-watch_240x180.jpg" alt="The Coolest High-Tech Watches"></a>
            <h4><a href="http://www.forbes.com/pictures/mmj45hgdg/blue-skys-im-watch#content">The Coolest High-Tech Watches</a></h4>
        </li>
    </ul>			<!-- End: footer promos -->
		        <!-- Start: channels -->
             <nav id="footer_channels">
    <ul>
                    <li><a href="http://www.forbes.com/">Home</a></li>
                    <li><a href="http://www.forbes.com/business/">Business</a></li>
                    <li><a href="http://www.forbes.com/investing/">Investing</a></li>
                    <li><a href="http://www.forbes.com/technology/">Tech</a></li>
                    <li><a href="http://www.forbes.com/entrepreneurs/">Entrepreneurs</a></li>
                    <li><a href="http://www.forbes.com/opinions/">Op/Ed</a></li>
                    <li><a href="http://www.forbes.com/leadership/">Leadership</a></li>
                    <li><a href="http://www.forbes.com/lifestyle/">Lifestyle</a></li>
                    <li><a href="http://www.forbes.com/lists/">Lists</a></li>
                    <li><a href="http://www.forbesconferences.com/">Forbes Conferences</a></li>
                    <li><a href="http://www.newsletters.forbes.com/DRHM/servlet/ControllerServlet?Action=DisplayMainPage&amp;SiteID=es_764&amp;pgm=44764400">Newsletters</a></li>
            </ul>
</nav>        <!-- End: channels  -->
        <!-- Start: Help Links & Legaleze  -->
            <nav id="footer_helplinx">
    <a href="http://www.forbesmedia.com/">Advertising Information</a> |
    <a href="http://www.forbes.com/selfserve">Self-Serve Advertising</a> |
	<a href="http://www.forbesmagazine.com/CustomReprints/">Reprints/Permissions</a> |
    <a href="http://www.forbes.com/fdc/terms.html">Terms, Conditions and Notices</a> |
    <a href="http://www.forbes.com/fdc/privacy.html">Privacy Statement</a> |
    <a href="http://www.forbes.com/fdc/contact.html">Contact Us</a> |
    <a href="http://www.forbes.com/fdc/sitemap.html">Sitemap</a> |
    <a href="http://www.forbes.com/fdc/help.html">Help</a>
    <small><script type="text/javascript">var d=new Date();document.write(d.getFullYear());</script>2011 Forbes.com LLC&trade; &nbsp; All Rights Reserved</small>
</nav>        <!-- End: Help Links & Legaleze -->
        <div id="footer_lower">
            <!-- Start: Sister Sites -->
            <nav id="footer_sites" class="clearfix">
        <ul>
                <li class="pos1"><a target="_blank" alt="Forbes Russia" href="http://www.forbesrussia.ru/">Forbes Russia</a></li>
                <li class="pos2"><a target="_blank" alt="Forbes Poland" href="http://www.forbes.pl/">Forbes Poland</a></li>
                <li class="pos3"><a target="_blank" alt="Forbes Romania" href="http://www.forbes.ro/">Forbes Romania</a></li>
                <li class="pos4"><a target="_blank" alt="Forbes China" href="http://www.forbeschina.com/">Forbes China</a></li>
                <li class="pos5"><a target="_blank" alt="Real Clear Politics" href="http://realclearpolitics.com/">Real Clear Politics</a></li>
                <li class="pos6"><a target="_blank" alt="Real Clear Sports" href="http://www.realclearsports.com/">Real Clear Sports</a></li>
                <li class="pos7"><a target="_blank" alt="Real Clear Markets" href="http://www.realclearmarkets.com/">Real Clear Markets</a></li>
        </ul>

</nav>
            <!-- End: Sister Sites  -->
            <!-- Start: data attribution -->
            <div class="rounder clearfix" id="footer_datapartners">
    <ul>
        <li class="pos1"><a href="http://www.spirentcom.com/" target="_top">Spirent</a></li>
        <li class="pos2"><a href="http://www.morningstar.com/" target="_top">Morningstar</a></li>
        <li class="pos3"><a href="http://www.xignite.com/" target="_top">Xignite</a></li>
        <li class="pos4"><a href="http://www.quotemedia.com/" target="_top">Quotemedia</a></li>
        <li class="pos5"><a href="http://www.thomson.com/" target="_top">Thomson Reuters</a></li>
		<li class="pos6"><a href="https://preferences.truste.com/genericembeddedpreference.html?affiliateId=18" target="_top">Ad Choices</a></li>
    </ul>
</div>                        <!-- End: data attribution  -->
            <!-- Start: Magazines -->
            <nav id="footer_magazines">
    <div class="subhed">Magazines</div>
    <ul class="clearfix">                 
                    <li><a href="http://www.forbes.com/forbes"><img alt="Forbes" src="http://images.forbes.com//media/2011/09/09/0909_forbes-cover-092611_120x160.jpg"></a></li>
                    <li><a href="http://www.forbes.com/forbesglobal"><img alt="Forbes Asia" src="http://images.forbes.com//media/2011/09/13/0913_asia-cover_120x160.jpg"></a></li>
                    <li class="lastone"><a href="http://www.forbes.com/forbes-life-magazine"><img alt="ForbesLife" src="http://images.forbes.com//media/2011/09/13/0913_life-cover.jpg"></a></li>
            </ul>
    <div id="footer_sublinks">
        <a href="https://w1.buysub.com/servlet/OrdersGateway?cds_mag_code=FRB&amp;cds_response_key=IL02FTRSC">Free Trial Issue</a>
        <a href="http://www.forbes.com/fdc/subservices.html">Subscriber Services</a>
        <a href="http://backissues.forbesinc.com/">Buy Back Issues</a>
    </div>
</nav>            <!-- End: Magazines  -->
			<!-- Start: Pixels -->
			<script src="http://images.forbes.com/scripts/data_pixels.js" type="text/javascript"></script><script src="http://images.forbes.com/scripts/dcookiemix.js" type="text/javascript"></script><img width="1" height="1" border="0" alt="" src="http://ad.doubleclick.net/activity;src=2344762;dcnet=4591;boom=22781;sz=1x1;ord=9785935952213120?"><script src="http://ads.forbes.com/RealMedia/ads/adstream_jx.ads/forbes.com/sictarget/setcookie@x98?9785935952213120" type="text/javascript"></script><a target="_top" href="http://ads.forbes.com/RealMedia/ads/click_lx.ads/forbes.com/sictarget/setcookie/283209937/x98/OasDefault_v5/default/empty.gif/64575a556f6b3448354c494143666347"><img width="1" height="1" border="0" alt="" src="http://ads.forbes.com/RealMedia/ads/adstream_lx.ads/forbes.com/sictarget/setcookie/283209937/x98/OasDefault_v5/default/empty.gif/64575a556f6b3448354c494143666347?9785935952213120"></a>
			<!-- End: Pixels -->
        </div>
    </section>
</footer>