<footer id="listwatch">
	<section id="listwatchtabs">
		<ul class="tabs horznav fleft clearfix">
			<li>
				<a rel="listgroup1" href="#">The Forbes 400</a>
				<div class="arrow"></div>
			</li>

	   		<li>
	   			<a rel="listgroup2" href="#">World's Billionaires</a>
	   			<div class="arrow"></div>
	   		</li>
	   		<li class="active">
	   			<a rel="listgroup3" href="#">Celebrity 100</a>
	   			<div class="arrow"></div>
	   		</li>

	   		<li class="last">
	   			<a rel="listgroup4" href="#">World's Leading Companies</a>
	   			<div class="arrow"></div>
	   		</li>
		</ul>
		<div id="morelists" class="fleft">
			<a href="http://www.forbes.com/lists/">more +</a>
		</div>

        <div class="tabbed listview" id="listgroup1" style="display: none;">
    	<!-- START: FORES 400 -->
			<ul>
				<li class="textintro">
					Things are on the up for U.S. billionaires with more than half of them adding to their net worth in a year which once again saw Bill Gates as the richest of them all.
					<a href="http://www.forbes.com/400richest/" class="readmore">View complete list »</a>
				</li>
				<li class="over lv1a"><a class="lv1a" href="http://www.forbes.com/profile/bill-gates"><img src="http://images.forbes.com/media/lists/people/bill-gates_190x280.jpg"><div><h4><b>#1</b>Bill Gates</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1b"><a class="lv1b" href="http://www.forbes.com/profile/warren-buffett"><img src="http://images.forbes.com/media/lists/people/warren-buffett_380x278.jpg"><div><h4><b>#2</b>Warren Buffett</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1c"><a class="lv1c" href="http://www.forbes.com/profile/oprah-winfrey"><img src="http://images.forbes.com/media/lists/people/oprah-winfrey_380x278.jpg"><div><h4><b>#130</b>Oprah Winfrey</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1d"><a class="lv1d" href="http://www.forbes.com/profile/mark-zuckerberg"><img src="http://images.forbes.com/media/2010/10/07/1007_mark-zuckerberg-happy_320x181.jpg"><div><h4><b>#35</b>Mark Zuckerberg</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1e"><a class="lv1e" href="http://www.forbes.com/profile/steve-jobs"><img src="http://images.forbes.com/media/2010/09/01/0901_steve-jobs-apple_320x181.jpg"><div><h4><b>#42</b>Steve Jobs</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1f"><a class="lv1f" href="http://www.forbes.com/profile/michael-bloomberg"><img src="http://images.forbes.com/media/2010/03/10/0310_michael-bloomberg_320x181.jpg"><div><h4><b>#10</b>Michael Bloomberg</h4><span class="readmore">Latest News »</span></div></a></li>

			</ul>
        </div>
    	<!-- END: FORES 400 -->
		<!-- START: BILLIONAIRES -->
        <div class="tabbed listview" id="listgroup2" style="display: none;">
			<ul>
				<li class="textintro">
					Riding surging prices of his bank and telecom holdings, Mexican tycoon Carlos Slim Helú has widened his lead over Americans Bill Gates and Warren Buffett as the wealthiest person on earth.
					<a href="http://www.forbes.com/billionaires/" class="readmore">View complete list »</a>
				</li>
				<li class="over lv1a"><a class="lv1a" href="http://www.forbes.com/profile/mikhail-prokhorov"><img style="opacity: 1;" src="http://images.forbes.com/media/lists/people/mikhail-prokhorov_190x280.jpg"><div><h4><b>#33</b>Mikhail Prokhorov</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1b"><a class="lv1b" href="http://www.forbes.com/profile/carlos-slim-helu"><img style="opacity: 1;" src="http://images.forbes.com/media/lists/people/carlos-slim-helu_380x278.jpg"><div><h4><b>#1</b>Carlos Slim Helú</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1c"><a class="lv1c" href="http://www.forbes.com/profile/cher-wang-wenchi-chen"><img style="opacity: 1;" src="http://images.forbes.com/media/2010/03/31/0331_cher-wang-wenchi-chen_380x278.jpg"><div><h4><b>#144</b>Cher Wang</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1d"><a class="lv1d" href="http://www.forbes.com/profile/aliko-dangote"><img src="http://images.forbes.com/media/2010/03/10/0310_aliko-dangote_320x181.jpg"><div><h4><b>#52</b>Aliko Dangote</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1e"><a class="lv1e" href="http://www.forbes.com/profile/prince-alwaleed-bin-talal-alsaud"><img style="opacity: 1;" src="http://images.forbes.com/media/lists/people/prince-alwaleed-bin-talal-alsaud_320x181.jpg"><div><h4><b>#27</b>Prince Alwaleed Bin Talal Alsaud</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1f"><a class="lv1f" href="http://www.forbes.com/profile/mark-zuckerberg"><img style="opacity: 1;" src="http://images.forbes.com/media/lists/people/mark-zuckerberg_320x181.jpg"><div><h4><b>#53</b>Mark Zuckerberg</h4><span class="readmore">Latest News »</span></div></a></li>
			</ul>
   		</div>
        <!-- END: BILLIONAIRES -->
        <!-- START: CELEBS -->
                <div class="tabbed listview" id="listgroup3" style="display: block;">
			<ul>
				<li class="textintro">
					Lady Gaga jumps to the top of this year's ranking of the richest and most powerful actors, actresses, athletes, writers and musicians.
					<a href="http://www.forbes.com/celebrities/" class="readmore">View complete list »</a>
				</li>

				<li class="over lv1a"><a class="lv1a" href="http://www.forbes.com/profile/lady-gaga"><img src="http://images.forbes.com/media/2011/05/17/lady-gaga-2_190x280.jpg"><div><h4><b>#1</b>Lady Gaga</h4><span class="readmore">Latest News »</span></div></a></li>

				<li class="over lv1b"><a class="lv1c" href="http://www.forbes.com/profile/justin-bieber"><img src="http://images.forbes.com/media/lists/people/justin-bieber_380x278.jpg"><div><h4><b>#3</b>Justin Bieber</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1c"><a class="lv1c" href="http://www.forbes.com/profile/taylor-swift"><img src="http://images.forbes.com/media/lists/people/taylor-swift_380x278.jpg"><div><h4><b>#7</b>Taylor Swift</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1d"><a class="lv1d" href="http://www.forbes.com/profile/bon-jovi"><img src="http://images.forbes.com/media/lists/people/bon-jovi_320x181.jpg"><div><h4><b>#8</b>Bon Jovi</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1e"><a class="lv1e" href="http://www.forbes.com/profile/lebron-james"><img "="" src="http://images.forbes.com/media/lists/people/lebron-james_320x181.jpg"><div><h4><b>#10 </b>LeBron James</h4><span class="readmore">Latest News »</span></div></a></li>

				<li class="over lv1f"><a class="lv1f" href="http://www.forbes.com/profile/katy-perry"><img src="http://images.forbes.com/media/2011/05/17/katy-perry_320x181.jpg"><div><h4><b>#12</b>Katy Perry</h4><span class="readmore">Latest News »</span></div></a></li>
			</ul>
   		</div>

   		<!-- <div id="listgroup3" class="tabbed listview">
			<ul>
				<li class="textintro">
					Oprah Winfrey takes back her crown while pop chart phenomenon Lady Gaga catapults to No. 4 on this year's ranking of the richest and most powerful actors, actresses and musicians.
					<a class="readmore" href="http://www.forbes.com/celebrities/">View complete list »</a>
				</li>

				<li class="over lv1a"><a href="http://www.forbes.com/lists/2010/53/celeb-100-10_Lady-Gaga_8UOG.html" class="lv1a"><img src="http://images.forbes.com/media/lists/people/lady-gaga_190x280.jpg"><div><h4><b>#4</b>Lady Gaga</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1b"><a href="http://www.forbes.com/lists/2010/53/celeb-100-10_Beyonce-Knowles_YA72.html" class="lv1b"><img src="http://images.forbes.com/media/2010/06/29/0629_beyonce-knowles_380x278.jpg"><div><h4><b>#2</b>Beyonce Knowles</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1c"><a href="http://www.forbes.com/lists/2010/53/celeb-100-10_Tiger-Woods_WR6D.html" class="lv1c"><img src="http://images.forbes.com/media/2010/09/15/0915_male-celebs-tiger-woods_380x278.jpg"><div><h4><b>#5</b>Tiger Woods</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1d"><a href="http://www.forbes.com/lists/2010/53/celeb-100-10_Johnny-Depp_PCS9.html" class="lv1d"><img src="http://images.forbes.com/media/2010/09/07/0907_johnny-depp_320x181.jpg"><div><h4><b>#9</b>Johnny Depp</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1e"><a href="http://www.forbes.com/lists/2010/53/celeb-100-10_Roger-Federer_SWSL.html" class="lv1e"><img src="http://images.forbes.com/media/2010/06/29/0629_roger-federer_320x181.jpg"><div><h4><b>#29</b>Roger Federer</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1f"><a href="http://www.forbes.com/lists/2010/53/celeb-100-10_Cameron-Diaz_9D3T.html" class="lv1f"><img src="http://images.forbes.com/media/2010/06/29/0629_cameron-diaz_320x181.jpg"><div><h4><b>#60</b>Cameron Diaz</h4><span class="readmore">Latest News »</span></div></a></li>
			</ul>
   		</div> -->
        <!-- END: CELEBS -->
        <!-- START: GLOBAL 2000  -->
   		<div class="tabbed listview" id="listgroup4" style="display: none;">
			<ul>
				<li class="textintro">
					The Forbes Global 2000 are the biggest, most powerful listed companies in the world. These global giants usually reorder themselves at a glacial pace but sometimes, as with the volatile financial sector of late, with more abruptness.
					<a href="http://www.forbes.com/global2000/" class="readmore">View complete list »</a>
				</li>
				<li class="over lv1a"><a class="lv1a" href="http://finapps.forbes.com/finapps/jsp/finance/compinfo/CIAtAGlance.jsp?sedol=2475833"><img src="http://images.forbes.com/media/lists/companies/johnson-johnson_190x280.jpg"><div><h4><b>#47</b> Johnson &amp; Johnson</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1b"><a class="lv1b" href="http://finapps.forbes.com/finapps/jsp/finance/compinfo/CIAtAGlance.jsp?sedol=2046251"><img src="http://images.forbes.com/media/2010/10/26/1026_apple-ipad_380x278.jpg"><div><h4><b>#75</b> Apple</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1c"><a class="lv1c" href="http://finapps.forbes.com/finapps/jsp/finance/compinfo/CIAtAGlance.jsp?sedol=2190385"><img src="http://images.forbes.com/media/2010/07/28/0728_jpmorgan_380x278.jpg"><div><h4><b>#1</b>JPMorgan Chase</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1d"><a class="lv1d" href="http://finapps.forbes.com/finapps/jsp/finance/compinfo/CIAtAGlance.jsp?sedol=2380498"><img src="http://images.forbes.com/media/2010/03/17/0317_general-electric_320x181.jpg"><div><h4><b>#2</b>General Electric</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1e"><a class="lv1e" href="http://finapps.forbes.com/finapps/jsp/finance/compinfo/CIAtAGlance.jsp?sedol=2093666"><img src="http://images.forbes.com/media/2010/10/26/1026_warren-buffett_320x181.jpg"><div><h4><b>#15</b>Berkshire Hathaway</h4><span class="readmore">Latest News »</span></div></a></li>
				<li class="over lv1f"><a class="lv1f" href="http://finapps.forbes.com/finapps/jsp/finance/compinfo/CIAtAGlance.jsp?sedol=7123870"><img src="http://images.forbes.com/media/lists/companies/0110_nestle_320x181.jpg"><div><h4><b>#36</b>Nestlé</h4><span class="readmore">Latest News »</span></div></a></li>
			</ul>
        <!-- END: GLOBAL 2000  -->
   		</div>
	</section>
</footer>