 <div id="listwatch" class="listWatchAlt">
	  <div id="listwatchtabs">
      <div style="display: block;" id="listgroup3" class="tabbed listview">
			  <ul>
				  <li class="textintro">
  					Kami adalah team independent jurnalis yang bertujuan untuk mengupas 
  					berita-berita politik demi membebaskan bangsa Indonesia. 
  					<br />
  					<br />
  					Ada ketidakadilan di daerah anda?
  					Kontak team kami di <b>sableng@sableng.com</b>
				  </li>

<!--        <li class="over lv1a"><a href="http://www.forbes.com/profile/lady-gaga" class="lv1a"><img src="http://images.forbes.com/media/2011/05/17/lady-gaga-2_190x280.jpg"><div><h4><b>#1</b>Lady Gaga</h4><span class="readmore">Latest News »</span></div></a></li>

        <li class="over lv1b"><a href="http://www.forbes.com/profile/justin-bieber" class="lv1c"><img src="http://images.forbes.com/media/lists/people/justin-bieber_380x278.jpg"><div><h4><b>#3</b>Justin Bieber</h4><span class="readmore">Latest News »</span></div></a></li>
        <li class="over lv1c"><a href="http://www.forbes.com/profile/taylor-swift" class="lv1c"><img src="http://images.forbes.com/media/lists/people/taylor-swift_380x278.jpg"><div><h4><b>#7</b>Taylor Swift</h4><span class="readmore">Latest News »</span></div></a></li>
        <li class="over lv1d"><a href="http://www.forbes.com/profile/bon-jovi" class="lv1d"><img src="http://images.forbes.com/media/lists/people/bon-jovi_320x181.jpg"><div><h4><b>#8</b>Bon Jovi</h4><span class="readmore">Latest News »</span></div></a></li>
        <li class="over lv1e"><a href="http://www.forbes.com/profile/lebron-james" class="lv1e"><img src="http://images.forbes.com/media/lists/people/lebron-james_320x181.jpg"><div><h4><b>#10 </b>LeBron James</h4><span class="readmore">Latest News »</span></div></a></li>

        <li class="over lv1f"><a href="http://www.forbes.com/profile/katy-perry" class="lv1f"><img src="http://images.forbes.com/media/2011/05/17/katy-perry_320x181.jpg"><div><h4><b>#12</b>Katy Perry</h4><span class="readmore">Latest News »</span></div></a></li> -->
			  </ul>
   		</div>
	  </div>
  </div>